---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
NamespaceIndentation: All
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
AlignAfterOpenBracket: true
BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
BreakBeforeCloseBracketIf: true
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: OnePerLine
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: FunctionCall
SpaceBeforeRangeBasedForLoopColon: false
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
SortUsingDeclarations: LexicographicNumeric
FixNamespaceComments: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: Never
...
