---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 140
AccessModifierOffset: -4
NamespaceIndentation: All
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
AlignAfterOpenBracket: false
AlignOperands: DontAlign
BreakAfterOpenBracketBracedList: false
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
BreakBeforeCloseBracketIf: true
BreakAfterOpenBracketLoop: true
BreakBeforeCloseBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakBeforeCloseBracketSwitch: true
BreakBeforeTemplateCloser: true
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: OnePerLine
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBinaryOperators: All
BreakBinaryOperations: RespectPrecedence
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never
Cpp11BracedListStyle: FunctionCall
SpaceBeforeRangeBasedForLoopColon: false
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
SortUsingDeclarations: LexicographicNumeric
FixNamespaceComments: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: Never
PenaltyReturnTypeOnItsOwnLine: 1000000
PenaltyBreakAssignment: 10000
PenaltyBreakBeforeFirstCallParameter: 0
...
