/build/
/build-*/
/cmake-build-*/
.kaixa/
Kaixa.user.toml
*.o
*.a
*.exe
*.pdb
*.ilk
.cache/
__pycache__/
*.py[cod]
compile_commands.json
/examples/generated_cmake/CMakeLists.txt
/examples/installation/**/CMakeLists.txt
/examples/test_adapters/**/CMakeLists.txt
/examples/generated_cmake/Kaixa.lock
/examples/generated_cmake/KaixaDependencies.cmake
/examples/features_and_defines/Kaixa.lock
